@inherits BaseModal

<Modal @ref="modal" Title="Информация об устройстве" IsVerticallyCentered="true" IsScrollable="true">
    <BodyTemplate>
        <h3>@Host</h3>
        <p>Имя машины: @Info.MachineName</p>
        <p>Информация об ОС: @Info.OSVersion</p>
        <p>Запущен ли захват: @(Info.IsCaptureProcessing ? "Да" : "Нет")</p>
        <p>Производитель материской платы: @Info.Hardware.MotherboardInfo.Manufacturer</p>
        <p>Модель материнской платы: @Info.Hardware.MotherboardInfo.Model</p>
        <p>Процессор: @Info.Hardware.CPUInfo.Processor</p>
        <p>Кол-во ядер процессора: @Info.Hardware.CPUInfo.NumberOfCores</p>
        <p>Тактовая частота процессора: @Info.Hardware.CPUInfo.MaxClockSpeed</p>
        <p>Графический процессор: @Info.Hardware.GPUInfo.GraphicsCard</p>
        <p>Количество оперативной памяти: @Info.Hardware.MemoryInfo.TotalMemory</p>
        <p>Адреса: @(!Info.IPAddresses.Any() ? "Нет информации" : string.Empty)</p>
        @if (Info.IPAddresses.Any())
        {
            @foreach (var address in Info.IPAddresses)
            {
                <p style="margin-left: 16px">@address</p>
            }
        }     
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideModalClick">Закрыть</Button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter] 
    public string Host { get; set; }

    [Parameter] 
    public HostInfo Info { get; set; }
}
